*{box-sizing:border-box;padding:0;margin:0}.loader-wrapper{width:100%;height:100%;position:absolute;top:0;left:0;background-color:#404040;display:flex;justify-content:center;align-items:center;z-index:20}.loader{display:inline-block;width:40px;height:40px;position:relative;border:4px solid #fff;animation:loader 2s infinite ease}.loader-inner{vertical-align:top;display:inline-block;width:100%;background-color:#fff;animation:loader-inner 2s infinite ease-in}@keyframes loader{0%{transform:rotate(0)}25%{transform:rotate(180deg)}50%{transform:rotate(180deg)}75%{transform:rotate(360deg)}100%{transform:rotate(360deg)}}@keyframes loader-inner{0%{height:0%}25%{height:0%}50%{height:100%}75%{height:100%}100%{height:0%}}ul{list-style-type:none}html{scroll-behavior:smooth}body{font-family:"Varela Round",sans-serif;background-color:#f0f0f0;overflow-x:hidden}p{line-height:1.5;padding:10px 15px 22px 15px;text-align:justify;text-justify:inter-word;font-size:16px}h1{font-size:30px;font-weight:lighter}h2{font-size:20px;font-weight:lighter}h2 a{text-decoration:none;color:#fff}.nav{display:flex;width:100%;position:fixed;height:60px;z-index:10;transition:height 2s;align-items:center;justify-content:space-around}.logo{color:#fff;text-transform:uppercase;letter-spacing:5px}ul.sidenav{display:flex}ul.sidenav li a{display:inline-block;color:#fff;font-size:18px;text-decoration:none;padding:20px 20px}ul.sidenav li a::after{content:'';display:block;width:0;margin-top:2px;height:2px;background:#fff;transition:width .3s}ul.sidenav li a:hover::after{width:100%}.wrapper{display:none}.bar{cursor:pointer;width:25px;height:25px;position:relative;display:none}.line{position:absolute;background-color:#fff;width:100%;height:3.6px;border-radius:8px;transition:all cubic-bezier(.26,.1,.27,1.55) .35s}.top{top:18%}.middle{top:48%}.bottom{top:76%}.icon.close .top{transform:rotate(45deg);top:48%}.icon.close .bottom,.icon.close .middle{transform:rotate(-45deg);top:48%}.fas{margin-right:8px}.line1{position:absolute;width:70%;top:35%;left:15%;background-color:#fff;height:3px;z-index:2}.line2{position:absolute;width:70%;top:55%;left:15%;align-self:center;background-color:#fff;height:3px;z-index:2}#text-intro{position:absolute;text-align:left;padding-left:21%;top:40%;width:100%;z-index:2;font-size:50px;color:#fff}#type{text-transform:uppercase}.header{margin-bottom:10px;background:url(image/intro.jpg) no-repeat;background-size:cover;background-position:bottom;height:100vh}.header::after{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.3)}.content{display:grid;max-width:1000px;margin:0 auto;grid-template-columns:repeat(12,1fr)}#about-head{grid-column:span 12;margin-bottom:20px;margin-top:20px;border-bottom:2px solid #404040}#project-head{border-bottom:2px solid #404040}#contact-head{border-bottom:2px solid #404040}.contact i{font-size:22px}.project{display:grid;grid-template-columns:repeat(3,1fr);height:400px}.project h2{text-align:center;margin-top:10px}div[class*=projectnum-]{background:#fff;margin:0 10px;margin-bottom:20px;box-shadow:0 3px 1rem rgba(0,0,0,.2)}.project h2{padding-top:4px;font-weight:700}.project-image{width:100%;height:200px;overflow:hidden}.project-image img{width:100%;transition:transform .2s;height:100%;object-fit:cover}.project-image img:hover{transform:scale(1.1)}.mypic{grid-column:span 4;margin-bottom:10px;grid-row:span 1;overflow:hidden}#myimg{max-width:110%;max-height:100%;transition:transform .2s}#myimg:hover{transform:scale(1.1)}#arrow-down{text-decoration:none;position:absolute;color:#fff;bottom:14%;right:45%;font-size:24px;border:none;cursor:pointer;z-index:2}#arrow-down::after,#arrow-down::before{content:'';position:absolute;top:30%;left:50%;border:3px solid #fff;height:36px;width:36px;transform:translate(-50%,-50%) rotate(43deg);border-top:transparent;border-left:transparent;margin-top:34px;animation:scroll 2.5s ease-in-out infinite;z-index:2}#arrow-down::after{top:90%}@keyframes scroll{0%{opacity:0}30%{opacity:1}60%{opacity:1}100%{opacity:0}}#about-link{width:100%;height:45px}#contact-link,#project-link,#skill-link{width:100%;height:65px}.education{grid-column:span 4;padding:18px;background-color:#fff;box-shadow:0 3px 1rem rgba(0,0,0,.2)}#education{padding-top:10px;padding-left:3px;line-height:1.8}.profile{grid-column:span 8;grid-row:span 2;margin-left:10px;padding:18px;background-color:#fff;box-shadow:0 3px 1rem rgba(0,0,0,.2)}.language{font-style:italic}.projects{grid-column:span 12}.project a{color:#404040;padding-top:5px}.project a:hover{color:#f66}.skill{grid-column:span 12}.skill-{overflow-x:auto;display:grid;grid-template-columns:repeat(3,1fr);margin-bottom:20px}.skill- img{padding-top:20px}.skill p{text-align:initial;text-justify:initial}.skill i{padding-top:20px;font-size:100px;color:#404040}.skill-1,.skill-2,.skill-4,.skill-5{border-bottom:2px solid #404040;border-right:2px solid #404040}.skill-7,.skill-8{border-right:2px solid #404040}.skill-3,.skill-6{border-bottom:2px solid #404040}.skill h2{font-size:20px;margin-top:10px}.skill p{padding-top:10px}div[class*=skill-]{text-align:center}.contact{grid-column:span 12}.contact p{padding-bottom:0}#skill-head{grid-column:span 12;margin-bottom:20px;border-bottom:2px solid #404040}.footer{background-color:#404040;height:180px;width:100%;margin-top:30px;text-align:center;align-items:center}.footer h2{color:#fff;padding-top:30px}.footer i{color:#fff;margin-top:10px;padding-left:5px;padding-right:5px;font-size:30px}.footer i:hover{color:#f66}#copyright{font-size:14px;font-style:italic;color:#fff;text-align:center;padding:0}.displayBlock{display:inline-flex!important}.scrolling-active{background-color:#fff;box-shadow:0 3px 1rem rgba(0,0,0,.1)}.scrolling-active,.scrolling-active .logo,.scrolling-active .sidenav a,.scrolling-active h2 a{color:#404040}.scrolling-active .sidenav a:hover{background-color:#fff;color:#f66;transition:.6s}.scrolling-active .sidenav a::after{display:initial;margin-top:0;height:0;background:initial;transition:initial}@media screen and (max-width:1300px){#text-intro{font-size:40px}}@media screen and (max-width:1100px){.profile{grid-column:span 8;grid-row:span 2}.mypic{grid-column:span 4}#myimg{width:100%;height:255px;object-fit:cover}.education{grid-column:span 4}#text-intro{font-size:32px;padding-left:18%;top:41%}.content{max-width:800px}.project-image{width:100%;height:165px;object-fit:cover;object-position:top}}@media screen and (max-width:850px){.profile{grid-column:span 8}.mypic{grid-column:span 4}.education{grid-column:span 4}ul.sidenav{position:absolute;right:0;height:21vh;top:60px;display:flex;flex-direction:column;width:100%;align-items:flex-start;display:none}ul.sidenav li,ul.sidenav li a{width:100%}ul.sidenav li a{border-bottom:initial;transition:none;padding:16px 25px}ul.sidenav li a:hover{border-bottom:initial}.bar{display:block}.scrolling-active .line{background-color:#404040}.scrolling-active ul.sidenav{background-color:#fff;box-shadow:0 3px 1rem rgba(0,0,0,.1)}.wrapper{display:block}#text-intro{padding-left:10%}.line1{width:80%;left:8%}.line2{width:80%;left:8%;top:60%}.content{max-width:600px}.project{display:grid;grid-template-columns:repeat(2,1fr);height:730px}}@media screen and (max-width:700px){.profile{grid-column:span 12}.mypic{grid-column:span 12}#myimg{height:350px}.education{grid-column:span 12;margin-top:10px}.profile{margin-left:0}.content{max-width:initial;width:100%;margin:initial;padding:0 30px}.skill-{display:grid;grid-template-columns:repeat(2,1fr);margin-bottom:20px}.skill-3,.skill-7{border-right:2px solid #404040}.skill-9{border-right:2px solid #404040;border-top:2px solid #404040}.skill-2,.skill-4,skill-8{border-right:none}.skill-8{border-right:none;border-bottom:2px solid #404040}div[class*=project-]{margin:10px 10px}#arrow-down{right:38%}.project{grid-template-columns:repeat(1,1fr);height:1300px}div[class*=projectnum-]{margin:0 30px;margin-bottom:20px;max-height:1000px}.project-image{width:95%;height:230px}}
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color:#404040;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.loader {
display: inline-block;
width: 40px;
height: 40px;
position: relative;
border: 4px solid #Fff;
animation: loader 2s infinite ease;
}

.loader-inner {
vertical-align: top;
display: inline-block;
width: 100%;
background-color: #fff;
animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
0% {
  transform: rotate(0deg);
}

25% {
  transform: rotate(180deg);
}

50% {
  transform: rotate(180deg);
}

75% {
  transform: rotate(360deg);
}

100% {
  transform: rotate(360deg);
}
}

@keyframes loader-inner {
0% {
  height: 0%;
}

25% {
  height: 0%;
}

50% {
  height: 100%;
}

75% {
  height: 100%;
}

100% {
  height: 0%;
}
}
ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Varela Round", sans-serif;
  background-color: rgb(240, 240, 240);
  overflow-x: hidden;
}

p {
  line-height: 1.5;
  padding: 10px 15px 22px 15px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 16px;
}

h1 {
  font-size: 30px;
  font-weight: lighter;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
}

h2 a{
  text-decoration: none;
  color: #fff;
}

.nav {
  display: flex;
  width: 100%;
  position: fixed;
  height: 60px;
  z-index: 10;
  transition: height 2s;
  align-items: center;
  justify-content: space-around;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
}

ul.sidenav {
  display: flex;
}

ul.sidenav li a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 20px 20px;
}

ul.sidenav li a::after {
  content: '';
  display: block;
  width: 0;
  margin-top: 2px;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

ul.sidenav li a:hover::after {
  width: 100%;
}

.wrapper {
  display: none;
}

.bar {
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: relative;
  display: none;
}

.line {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 3.6px;
  border-radius: 8px;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.top {
  top: 18%;
}

.middle {
  top: 48%;
}

.bottom {
  top: 76%;
}

.icon.close .top {
    transform: rotate(45deg);
    top: 48%; 
}

.icon.close .middle, .icon.close .bottom {
    transform: rotate(-45deg);
    top: 48%; 
}

.fas {
  margin-right: 8px;
}

.line1 {
  position: absolute;
  width: 70%;
  top: 35%;
  left: 15%;
  background-color: #fff;
  height: 3px;
  z-index: 2;
}
.line2 {
  position: absolute;
  width: 70%;
  top: 55%;
  left: 15%;
  align-self: center;
  background-color: #fff;
  height: 3px;
  z-index: 2;
}

#text-intro {
  position: absolute;
  text-align: left;
  padding-left: 21%;
  top: 40%;
  width: 100%;
  z-index: 2;
  font-size: 50px;
  color: #ffffff;
}

#type {
  text-transform: uppercase;
}

.header {
  margin-bottom: 10px;
  background: url('./image/intro.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;

}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}

.content {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
}

#about-head {
  grid-column: span 12;
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 2px solid #404040;
}

#project-head {
  border-bottom: 2px solid #404040;
}

#contact-head {
  border-bottom: 2px solid #404040;
}

.contact i {
  font-size: 22px;
}

.project {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  height: 400px;
}

.project h2 {
  text-align: center;
  margin-top: 10px;
}

div[class*=projectnum-] {
  background: #fff;
  margin: 0 10px;
  margin-bottom: 20px;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);

}
.project h2 {
  padding-top: 4px;
  font-weight: bold;
}

.project-image {
  width: 100%;
  height: 200px;
  overflow: hidden;

}

.project-image img {
  width: 100%;
  transition: transform .2s; 
  height: 100%;
  object-fit: cover;
}

.project-image img:hover {
  transform: scale(1.1);
}

.mypic {
  grid-column: span 4;
  margin-bottom: 10px;
  grid-row: span 1;
  overflow: hidden;
}

#myimg {
  max-width: 110%;
  max-height: 100%;
  transition: transform .2s; 
}

#myimg:hover {
  transform: scale(1.1);
}

#arrow-down {
  text-decoration: none;
  position: absolute;
  color: #fff;
  bottom: 14%;
  right: 45%;
  font-size: 24px;
  border: none;
  cursor: pointer;
  z-index: 2;
}

#arrow-down::before,
#arrow-down::after {
  content: '';
  position: absolute;
  top: 30%;
  left: 50%;
  border: 3px solid #fff;
  height: 36px;
  width: 36px;
  transform: translate(-50%, -50%) rotate(43deg);
  border-top: transparent;
  border-left: transparent;
  margin-top: 34px;
  animation: scroll 2.5s ease-in-out infinite;
  z-index: 2;
}

#arrow-down::after {
  top: 90%;
}

@keyframes scroll{

  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#about-link{
  width: 100%;
  height: 45px;
}

#project-link, #skill-link, #contact-link {
  width: 100%;
  height: 65px;
}

.education {
  grid-column: span 4;
  padding: 18px;
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
}

#education {
  padding-top: 10px;
  padding-left: 3px;
  line-height: 1.8;
}

.profile {
  grid-column: span 8;
  grid-row: span 2;
  margin-left: 10px;
  padding: 18px;
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);

}

.language {
  font-style: italic;
}

.projects {
  grid-column: span 12;
}

.project a {
  color: #404040;
  padding-top: 5px;
} 

.project a:hover {
  color: #ff6666;
}

.skill {
  grid-column: span 12;
}

.skill- {
  overflow-x: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
}

.skill- img {
  padding-top: 20px;
}

.skill p {
  text-align: initial;
  text-justify: initial;
}

.skill i {
  padding-top: 20px;
  font-size: 100px;
  color: #404040;
}

.skill-1, .skill-2, .skill-4, .skill-5{
  border-bottom: 2px solid #404040;
  border-right: 2px solid #404040;
}

.skill-7, .skill-8 {
  border-right: 2px solid #404040;
}

.skill-3, .skill-6{
  border-bottom: 2px solid #404040;
}

.skill h2 {
  font-size: 20px;
  margin-top: 10px;
}

.skill p {
  padding-top: 10px;
}

div[class*="skill-"] {
  text-align: center;
}

.contact {
  grid-column: span 12;
}

.contact p {
  padding-bottom: 0;
}

#skill-head {
  grid-column: span 12;
  margin-bottom: 20px;
  border-bottom: 2px solid #404040;

}

.footer {
  background-color: #404040;
  height: 180px;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  align-items: center;
}

.footer h2 {
  color: #fff;
  padding-top: 30px;
}

.footer i {
  color: #fff;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 30px;
}

.footer i:hover {
  color: #ff6666;
}

#copyright {
  font-size: 14px;
  font-style: italic;
  color: white;
  text-align: center;
  padding: 0;
} */

/*JavaScript and jQuery change*/
/* .displayBlock {
  display: inline-flex !important;
}

.scrolling-active {
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.scrolling-active .sidenav a,
.scrolling-active .logo,
.scrolling-active h2 a,
.scrolling-active {
  color: #404040;
}

.scrolling-active .sidenav a:hover {
  background-color: #fff;
  color: #ff6666;
  transition: 0.6s;
}

.scrolling-active .sidenav a::after {
  display: initial;
  margin-top: 0;
  height: 0;
  background: initial;
  transition: initial;
}

@media screen and (max-width: 1300px) {

  #text-intro {
    font-size: 40px;
  }
}
@media screen and (max-width: 1100px) {
  .profile {
    grid-column: span 8;
    grid-row: span 2;
  }

  .mypic {
    grid-column: span 4;
  }
  #myimg {
    width: 100%;
    height: 255px;
    object-fit: cover;
  }

  .education {
    grid-column: span 4;
  }

  #text-intro {
    font-size: 32px;
    padding-left: 18%;
    top: 41%;
  }

  .content {
    max-width: 800px;
  }
  
  .project-image {
    width: 100%;
    height: 165px;
    object-fit: cover;
    object-position: top;
    
  }
}

@media screen and (max-width: 850px) {
  .profile {
    grid-column: span 8;
  }

  .mypic {
    grid-column: span 4;
  }

  .education {
    grid-column: span 4;
  }

  ul.sidenav {
    position: absolute;
    right: 0px;
    height: 21vh;
    top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    display: none;
  }

  ul.sidenav li,
  ul.sidenav li a {
    width: 100%;
  }

  ul.sidenav li a {
    border-bottom: initial;
    transition: none;
    padding: 16px 25px;
  }

  ul.sidenav li a:hover {
    border-bottom: initial;
  }

  .bar {
    display: block;
  }

  .scrolling-active .line {
    background-color: #404040;
  }

  .scrolling-active ul.sidenav {
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  }

  .wrapper {
    display: block;
  }

  #text-intro {
    padding-left: 10%;
  }

  .line1 {
    width: 80%;
    left: 8%;
  }

  .line2 {
    width: 80%;
    left: 8%;
    top: 60%;
  }

  .content {
    max-width: 600px;
  }

  .project {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 730px;
  }
}

@media screen and (max-width: 700px) {
  .profile {
    grid-column: span 12;
  }

  .mypic {
    grid-column: span 12;
  }

  #myimg {
    height: 350px;
  }

  .education {
    grid-column: span 12;
    margin-top: 10px;
  }

  .profile {
    margin-left: 0;
  }
  
  .content {
    max-width: initial;
    width: 100%;
    margin: initial;
    padding: 0px 30px;

  }

  .skill- {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
  }
  .skill-3, .skill-7{
    border-right: 2px solid #404040;
  }
  .skill-9 {
    border-right: 2px solid #404040;
    border-top: 2px solid #404040;
  }
  .skill-2, .skill-4, skill-8 {
    border-right: none;
  }

  .skill-8 {
    border-right: none;
    border-bottom: 2px solid #404040;
  }

  
  div[class*=project-] {
    margin: 10px 10px;
  }

  #arrow-down {
    right: 38%;
  }

  .project {
    grid-template-columns: repeat(1,1fr);
    height: 1300px;
  }

  div[class*=projectnum-] {
    margin: 0 30px;
    margin-bottom: 20px;
    max-height: 1000px;
    
  }

  .project-image {
    width: 95%;
    height: 230px;
  }
  
} */